.mail-phone-header 
{
	@media screen and (min-width: 1200px) {
		    display: flex;
			margin-left: auto;
		}
	@media screen and (min-width: 768px) {
		margin-left: auto;
	}
	    display: none;
		@media screen and (min-width: 768px) {
			display: block;
		}
	    @media screen and (min-width: 1200px) {
	    	display: flex;
	    }
	&__item 
    {
		@media screen and (min-width: 768px) {
				margin-left: 0;
				margin-top: 10px;
				margin-bottom: 10px;
			}
		@media screen and (min-width: 1200px) {
				margin-left: 30px;
		}
		display: flex;
		justify-content: space-between;
		align-content: flex-end;
    
		&:first-child 
        {
			margin-left: 0;
        }
	}
		
	
	&__link 
    {
		display: contents;
		color: $mail-phone-header-button;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.02em;
		text-decoration: none;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
		&:hover, &:focus 
        {
			color: $accent-color;
        }
	}
		
	
	&__icons 
    {
		display: flex;
		fill: $title-text-color;
		cursor: pointer;
		flex-direction: row;
		align-items: center;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
		&:hover 
        {
			fill: $accent-color;
        }
	}
		
	
	&__first-icon 
    {
		margin-right: 10px;
    }
}

