.section 
{
	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
	padding-top: 60px;
	padding-bottom: 60px;
	&-no-padding 
    {
		padding-top: 0;
		padding-bottom: 0;
    }
	
	&-one-padding 
    {
		@media screen and (min-width: 1200px) {
			padding-top: 0;
			padding-bottom: 94px;
		}
		padding-top: 0;
		padding-bottom: 60px;
		&-portfolio 
        {
			@media screen and (min-width: 1200px) {
				padding-top: 94px;
				padding-bottom: 0;
			}
			padding-top: 60px;
			padding-bottom: 0;
        }
    }
		
	
	&-padding 
    {
		@media screen and (min-width: 1200px) {
			padding: 200px;
		}
		background-color: var(--second-background-color);
		padding: 118px 1px;
    }
	
}
